<?php declare(strict_types = 1);
return [
    // Database settings
    'db.dsn' => 'mysql:host=localhost;charset=utf8',
    'db.dbname' => '',
    'db.user' => '',
    'db.pass' => '',

    // Publication Types
    'publication_types' => [],

    // Storage Engines
    'storage_engines' => [],
];
