<?php declare(strict_types = 1);
return [
    'site.url' => 'http://localhost',

    // Database settings
    'db.dsn' => 'mysql:host=localhost;charset=utf8',
    'db.dbname' => '',
    'db.user' => '',
    'db.pass' => '',

    // Publication Types
    'publication_types' => [],

    // Storage Engines
    'storage_engines' => [],

    // Application logging
    'logger' => function () {
        $logger = new \Monolog\Logger('middle-skeleton');
        $logger->pushHandler((new \Monolog\Handler\StreamHandler(
            __DIR__ . '/../logs/' . (php_sapi_name() === 'cli' ? 'cli' : 'web') . '-' . date('Ymd') . '.log',
            \Monolog\Logger::NOTICE
        ))->setFormatter(new \Monolog\Formatter\LineFormatter()));
        return $logger;
    },
];
