<?php declare(strict_types = 1);
return [
    // Database settings
    'db.dsn' => 'mysql:host=localhost;charset=utf8',
    'db.dbname' => 'docstore_dev',
    'db.user' => 'root',
    'db.pass' => 'root',
];
